{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table{ width:100% }
</style>
{{ form_start(form) }}
    <table class="table-light">
        <thead>
        <tr class="table-primary text-center">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success text-center">
            <td></td>

        </tr>
        </tbody>
    </table>
    {{ form_end(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_users') }}">Back</a>


    {% endblock %}
